* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #1e3c72, #373636);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

img {
    max-width: 20%;
    height: auto;
}

.text {
    margin-top: 20px;
    font-size: 1.5em;
    color: #555;
}